In [1]:
import pandas as pd

## Ex-Factory Volumes

In [4]:
df_ex_factory_volumes = pd.read_excel('../files/BRISTOR_Zegoland.xlsx', sheet_name= 1)

df_ex_factory_volumes.head()

    Country           Data type     Measure  Product       Date     Value
0  Zegoland  Ex-factory volumes  Milligrams  BRISTOR 2020-08-01    450.80
1  Zegoland  Ex-factory volumes  Milligrams  BRISTOR 2020-09-01   3896.66
2  Zegoland  Ex-factory volumes  Milligrams  BRISTOR 2020-10-01   5761.50
3  Zegoland  Ex-factory volumes  Milligrams  BRISTOR 2020-11-01   9467.26
4  Zegoland  Ex-factory volumes  Milligrams  BRISTOR 2020-12-01  11331.18